@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Oleo+Script:wght@700&display=swap');
:root{
    --font1:'Baloo Bhai 2', cursive;
    --font2:'Baloo Bhai 2', cursive;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
}
:root{
    --primary:rgb(81, 81, 233);
    --dark:#232323;
    --pure:#fff;
    --smoke:whitesmoke;
    --dark-gray:#999;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background: var(--pure);
    color:var(--dark)
}

.container{
    width: 1240px;
    max-width: 95%;
    margin: 0 auto;
}
.form-input{
    font-size: 1rem;
    border-radius: 6px;
    padding: 3px;
    font-family: var(--font2);
}
label{
    font-size: 1.3rem;
    font-family: var(--font2);
}

.btn{
    margin-top: 5px;
    outline: none;
    color: white;
     border-radius: 6px;
     background: var(--primary);
     padding: 10px 14px;
     border: none;
     cursor: pointer;
     letter-spacing: 1px;
}
.btn:hover{
    background-color: blueviolet;
    transition: all 0.5s ease-in-out;
}

table.mytable th,td{
    padding:5px;
    margin: 2px;
   
}
table.mytable th,td{
    text-align: center;
}
